# --- [ ОС и Системный мусор ] ---
.DS_Store
Thumbs.db
*.swp
*~
.stackdump

# --- [ Android / Gradle ] ---
.gradle/
build/
/*/build/
capture/
.externalNativeBuild/
.cxx/
local.properties
*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/libraries/
.idea/caches/
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/deploymentTargetDropDown.xml
.idea/render.experimental.xml

# --- [ Бинарники ] ---
go.sum
*.out
*.exe
*.test
*.prof
*.bin
/bin/

# --- [ Native / NDK ] ---
*.o
*.a
obj/
gen/

# --- [ Артефакты сборки ] ---
*.apk
*.ap_
*.aab
*.dex
*.flat
output-metadata.json

# --- [ Секреты и ключи ] ---
*.jks
*.keystore
*.p12
*.key
google-services.json

# --- [ Исключения ] ---
!**/src/main/jniLibs/**/*.so
!.idea/runConfigurations/
!.idea/vcs.xml
!.idea/misc.xml